@require 'nib'
@require 'zorium-paper/base'

json('../../stylus/vars.json')

.z-join-thanks-card
  zp-shadow-1()
  background: $blue500
  color: $blue500Text
  border-radius: 2px
  padding: 16px

  > .thanks
    zp-font-headline()
    color: $white

  > .description
    zp-font-subhead()
    color: $white

  > .actions
    margin-top: 8px
    text-align: right
