@require 'nib'

json('../../stylus/vars.json')

.z-game-results-header
  color: $greyDarker
  margin: 15px 0

.z-game-results-game-boxes
  margin: 0 -5px

  > .z-game-results-game-box-container
    display: inline-block
    margin: 10px 5px

.z-game-results-spinner
  padding: 20px
