@require 'nib'

json('../../stylus/vars.json')

.z-game-results
  > .l-content-container
    > .header
      color: $greyDarker
      margin: 15px 0

    >.game-boxes
      margin: 0 -5px

      > .game-box-container
        display: inline-block
        margin: 10px 5px

    > .spinner
      padding: 20px
