@require 'nib'

json('../../stylus/vars.json')

.z-game-results
  > .l-content-container
    > .header
      color: $grey600
      margin: 15px 0 0 0

    > .game-boxes
      margin: 0 -5px

      > .game-box-container
        display: inline-block
        margin: 14px 5px 14px 5px

      > .featured-game-box-container
        margin: 14px 0

      > .spinner
        padding: 20px
