@require 'nib'

json('../../stylus/vars.json')

.z-dev-banner
  background: $greyDarkest
  line-height: 30px
  color: $white
  font-size: $fontSizeSmall
  text-align: center
  font-weight: $fontWeightMedium

  > .link
    color: inherit
    text-decoration: underline
