@require 'nib'

json('../../stylus/vars.json')

.z-modal-viewer-overlay
  background: $overlayColor
  position: fixed
  z-index: $zIndexModal
  display: table
  width: 100%
  height: 100%

// necessary for flexible-height verically centered
.z-modal-viewer-container
  display: table-cell
  vertical-align: middle
  width: 100%
  padding: 20px

.z-modal-viewer
  width: 100%
  max-width: 320px
  margin: 0 auto
  background: $bgColor
  border-radius: 3px
  overflow: hidden // chop off unrounded corners in children elements
  position: relative
