.button-ghost
  background: none
  border: none
  outline: none
  font-size: $fontSizeMedium
  font-weight: bold
  padding: 5px
  text-align: center
  color: $orange

  &.is-block
    display: block
    width: 100%

  &:disabled
    color: $disabledColor

  &:active
    background: $activeBgColor
