.categories-form-checkbox-container
  display: inline-block
  width: 50%
  text-align: left
  margin: 20px 0

  // top 2 boxes
  &:nth-child(1)
    margin: 0 0 20px 0
  &:nth-child(2)
    margin: 0 0 20px 0
