.categories-input-checkbox-container
  display: inline-block
  width: 50%
  text-align: left
  margin: 20px 0
  cursor: pointer
  font-size: $fontSizeMedium
  font-weight: bold
  color: $grayLight

  // top 2 boxes
  &:nth-child(1)
    margin: 0 0 20px 0
  &:nth-child(2)
    margin: 0 0 20px 0
