.game-menu
  background: $white
  height: 50px
  font-size: 1.6rem
  font-weight: bold
  padding-left: 50px

  > a
    color: $grayLight
    height: 50px
    line-height: 50px
    display: inline-block
    box-sizing: border-box
    margin-right: 20px

  > .is-selected
    color: $orange
    border-bottom: 1px solid $orange
