.game-menu
  background: #9ed
  text-align: center
  padding: 10px 0
  font-size: 1.5rem

  > .separator
    display: inline-block
    width: 2px
    vertical-align: middle
    background: #666
    height: 1rem
    margin: 0 10px
