.game-menu
  background: $white
  padding: 20px 0
  font-size: 1.6rem
  font-weight: bold

  > a
    margin: 10px
    color: $grayLight

  > .is-selected
    color: $orange
    border-bottom: 1px solid $orange
    padding-bottom: 20px
