.game-box

  > img
    // width and height also set as attributes in game_box.coffee
    width: 128px
    height: 128px

.game-box-info
  text-align: left

  > h3
    margin: 10px 0 10px 0
    whitespace: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 128px
