.game-header
  text-align: center
  background: $orange
  padding: 5px 5px
  position: absolute
  right: 0

.game-header-logo
  display: inline-block
  background-image: url($cdnBase'/d/images/logos/logo.svg')
  background-repeat: no-repeat
  width: 85px
  height: 22px

.no-svg

  .header-logo
    background-image: url($cdnBase'/d/images/logos/logo_200.png')
    background-size: 100% 100%
