.game-box
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

  > img
    width: $marketplaceGameIconWidth 'px'
    height: $marketplaceGameIconHeight 'px'

.game-box-info
  text-align: left

  > h3
    margin: 10px 0 10px 0
    whitespace: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 128px
