.header
  background: $white
  height: 50px
  border-bottom: 1px solid $bgColor

.header-logo
  display: inline-block
  background-image: url($cdnBase'/d/images/logos/logo.svg')
  background-repeat: no-repeat
  width: 110px
  height: 26px
  margin: 12px 0 12px 50px

.no-svg

  .header-logo
    background-image: url($cdnBase'/d/images/logos/logo_200.png')
    background-size: 100% 100%
