.header
  background: $white
  height: 50px
  border-bottom: 1px solid $bgColor
  box-sizing: border-box
  padding: 12px 20px

.header-logo
  display: inline-block
  background-image: url($logoSvg)
  background-repeat: no-repeat
  width: 110px
  height: 26px

.no-svg

  .header-logo
    background-image: url($logoPng110)
    background-size: 100% 100%
