// TODO: class name instead of type[]?
input[type=text]
  height: 40px
  box-sizing: border-box
  padding: 5px 10px
  border-radius: 3px
  background: $white
  border: 1px solid $borderColor

  &:active
    border: 1px solid $disabledColor
