$splashActionsHeight = 80
$splashBlueJpg = 'http://cdn.wtf/d/images/poly/splash_blue.jpg'

// TODO: reconsider names between welcome and splash (whether or not to
// prefix everything. eg splash-login vs splash-header-content)

.splash-header
  // We can get 100% height without position fixed, but it requires all
  // parent elements to have 100% height (which is too depending on the
  // environment for the component)
  position: fixed
  top: 0
  bottom: 80px
  width: 100%
  box-sizing: border-box
  background: url($splashBlueJpg)
  background-size: auto 100%
  color: #fff

  // necessary to vertically center the content. display: table can't be in
  // .splash-header because it screws with the top/bottom absolute positioning
  > .splash-header-content-container
    display: table
    width: 100%
    height: 100%

    // wrapper around the logo and headline text so we can vertically center
    // those as a block
    > .splash-header-content
      display: table-cell
      vertical-align: middle

      > .splash-header-logo
        margin: 0 auto 100px auto
        width: 140px
        height: 100px
        background: url($cloudSvg) no-repeat

      > .splash-header-headlines
        font-weight: lighter
        font-size: $fontSizeLarge
        text-align: center

        > .splash-header-headline
          margin: 0 0 30px 0

.splash-actions
  position: fixed
  bottom: 0
  width: 100%
  height: $splashActionsHeight px
  padding: 0 20px
  box-sizing: border-box
  background: #fff
  text-align: center

  > .splash-login
    width: 100%
    margin: (($splashActionsHeight - $primaryButtonHeight) / 2)px 0
