// Squish individual stars together a bit more
.stars
  .icon-star-half-fill:before, .icon-star:before
    margin: 0 0.1em


/////////////
// GAME RATE
/////////////
.game-rate-stars
  > .stars
    > .icon-star
      font-size: $fontSizeLarge

    > .icon-star-fill
      font-size: $fontSizeLarge
