@require 'nib'

json('../../stylus/vars.json')
@require '../../stylus/utils.styl'

.recent-games
  margin-bottom: 35px

.recent-games-header
  color: $grayLight
  margin: (normalizeSpacing(20, unit($fontSizeSmall, '')))px 0

.recent-games-game-boxes
  margin: 0 -5px

  > .recent-games-game-box-container
    display: inline-block
    margin: 0 5px

@media (min-width: 360px)
  .recent-games-game-boxes
    height: 131px

    > .recent-games-game-box-container
      width: 166px
