@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-recent-games
  margin-bottom: 35px

  > .header
    zp-font-subhead()
    margin-top: 16px
    margin-bottom: 8px
