@require 'nib'

json('../../stylus/vars.json')

.z-uploader-zip
  width: 320px
  height: 320px
  position: relative
  text-align: center

  > .upload-dropzone
    width: 100%
    height: 100%
    border-radius: 160px
    background: $white

    > .upload-content
      width: 100%

      > .drop-here
        font-size: $fontSizeLarge
        margin: 10px

      > .browse
        color: $blue
        display: block
        font-size: $fontSizeMedium
        margin-bottom: 20px

      > .icon-cloud-upload
        color: $greyMedium
        font-size: 120px
        line-height: 80px
        height: 80px
        margin-bottom: 10px
