@require 'nib'

json('../../stylus/vars.json')

.z-uploader-zip
  width: 320px
  height: 320px
  position: relative
  text-align: center

  > .upload-dropzone
    width: 100%
    height: 100%
    border-radius: 160px
    background: $white

    > .upload-content
      width: 100%
      color: $greyDark

      > .drop-here, >.uploaded
        font-size: $fontSizeLarge
        font-weight: lighter
        margin: 10px

      > .cache-warning
        font-weight: lighter
        width: 200px
        margin: 0 auto 10px auto

      > .green-check
        width: 60px
        height: 60px
        line-height: 60px
        margin: 0 auto
        border-radius: 50%
        background: $green
        margin-bottom: 10px

        > .icon-check
          color: $white
          font-size: $iconXLarge

      > .icon-cloud-upload
        color: $greyMedium
        font-size: 120px
        line-height: 80px
        height: 80px
        margin-bottom: 10px


      > .browse, > .replace
        color: $blue
        display: block
        font-size: $fontSizeMedium
        margin-bottom: 20px
