@require 'nib'

json('../../stylus/vars.json')

.z-dev-signup
  padding: 20px

  h1
    margin: 0 0 10px 0

  .friendly-message
    color: $greyDarker

  .field
    width: 100%

    > input[type=text], > input[type=password]
      width: 100%

  .get-started
    width: 200px
    margin-top: 10px
    float: right
    clearfix()
