@require 'nib'

json('../../stylus/vars.json')

.z-input-select
  display: inline-block

  select
    border-radius: 3px
    height: 40px
    line-height: 38px
    padding: 0 10px
    border: 1px solid $greyLighter
    color: $greyDarkest
    box-sizing: border-box
    background: $white
    vertical-align: middle

    &:focus
      border: 1px solid $greyMedium
      outline: 0px
