@require 'nib'

json('../../stylus/vars.json')

.z-dev-dashboard-menu
  > .menu
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2)
    margin: 20px 0
    font-size: $fontSizeMedium
    border-radius: 3px

    > a
      display: block
      background: $white
      font-weight: bold
      color: $greyDarker
      border-radius: 3px
      overflow: hidden

      &.is-selected
        color: $black
        background: $greyLightest
        position: relative

        &:before
          content: ''
          background: $orange
          height: 100%
          width: 5px
          position: absolute


      .add-game
        color: $blue
        position: relative

        &:before
          content: '+'
          font-size: $fontSizeLarge
          font-weight: normal
          color: $blue
          position: absolute
          top: 0
          right: 20px
          height: 100%
          display: flex
          align-items: center


      .text
        padding: 15px 20px
