@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-invite-landing
  > .header
    // js sets height
    background: $orange500
    flex-direction: column
    text-align: center

    > .header-content
      margin-top: auto
      margin-bottom: 32px

      > .name
        zp-font-display1()
        color: $orange500Text
        max-width: 300px
        margin: 0 auto

      > .description
        zp-font-subhead()
        color: $orange500Text

  > .content
    // js sets height
    padding: 16px
    box-sizing: border-box
    flex-direction: column

    > .skip-friend
      margin-top: auto
      display: block
      text-align: center
      zp-font-body1()
      color: $grey400
