@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-invite-landing-personal
  > .header
    // js sets height
    background: $orange500
    zp-font-display1()
    color: $orange500Text
    text-align: center
    flex-direction: column

    > .header-content
        margin-top: auto
        margin-bottom: 32px

  > .content
    // js sets height
    padding: 16px
    box-sizing: border-box
    flex-direction: column

    > .skip-friend
      margin-top: auto
      display: block
      text-align: center
      color: $grey400
      font-size: $fontSizeMedium
