@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-app-bar
  position: relative
  z-index: $zIndexHeader

  > .orange-bar
    background: $orange500
    color: $orange500Text
    width: 100%
    box-sizing: border-box
    padding: 0 20px
    flex-direction: column

    > .top
      height: 56px

      > .top-left-button
        margin-right: 32px

      > .top-right-button
        margin-left: auto

        > .sign-in
          zp-font-button()
          color: $orange500Text
          text-transform: uppercase

      > .title
        zp-font-headline()
        color: $orange500Text

        > .io
          opacity: 0.54

      > .marketplace-share
        margin-left: auto

  &.is-fixed
    > .orange-bar
      position: fixed
      top: 0
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.13), 0px 3px 6px -2px rgba(0, 0, 0, 0.2)

  &.is-background
    > .orange-bar
      > .content
        width: 100%
        text-align: center
        margin-top: auto
        margin-bottom: 24px
        display: inline-block
        align-self: flex-end

        > .title
          zp-font-display1()
          color: $orange500Text
          margin: 0 0 8px 0

        > .description
          zp-font-subhead()
          color: $orange500Text
          opacity: 0.54
          margin: 0
