@require 'nib'

json('../../stylus/vars.json')

.z-app-bar
  position: relative
  z-index: $zIndexHeader

  > .orange-bar
    background: $orange
    width: 100%
    box-sizing: border-box
    padding: 0 20px

    > .icon-back-arrow, .icon-menu
      font-size: $iconMedium
      color: $white
      margin-right: 32px


    > .logo
      font-size: $fontSizeLarge
      color: $white

      > .io
        color: #fff // FIXME $color?

    > .marketplace-share
      margin-left: auto

  &.is-fixed
    > .orange-bar
      position: fixed
      top: 0
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.13), 0px 3px 6px -2px rgba(0, 0, 0, 0.2)

  &.is-background
    > .orange-bar
      > .content
        width: 100%
        text-align: center
        padding: 16px
        box-sizing: border-box
        display: inline-block
        align-self: flex-end

          > .title
            font-size: $fontSizeXXLarge
            font-weight: lighter
            color: $white
            margin: 0 0 16px 0

          > .description
            font-size: $fontSizeMedium
            font-weight: lighter
            // FIXME: what color?
            color: $white
            margin: 0
            // FIXME: what color?
