@require 'nib'

json('../../stylus/vars.json')

.z-dev-edit-game-published
  padding: 20px
  text-align: center

  > .icon-happy
    font-size: 180px
    display: block
    margin-top: 40px
    color: $greyMedium

  > h1
    font-family: 'RobotoLighter'
    font-weight: lighter
    margin: 0

  > .game-published
    margin-bottom: 20px
    font-size: $fontSizeMedium

  > .play-now
    margin: 20px
    font-size: $fontSizeMedium

    > a
      color: $blue

  .go-to-dashboard
    margin: 20px
    font-size: $fontSizeMedium

  .edit-game
    color: $greyDarker
    font-size: $fontSizeMedium
