@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-game-shoe-box
  -webkit-tap-highlight-color: $transparent
  display: block
  position: relative
  border-bottom: 1px solid $greyLighter
  padding: 10px 0

  &:active
    background-color: $activeBgColor

  > img
    width: 40px
    height: 40px
    margin-left: 5px
    margin-right: 10px
    vertical-align: middle

  > .z-game-shoe-box-info
    display: inline-block
    vertical-align: middle

    > h3
      zp-font-body1()
      margin: 0
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  > .z-game-shoe-box-play
    position: absolute
    top: 50%
    margin-top: -($iconLarge / 2)
    right: 5px

    > .icon-play-circle
      font-size: $iconLarge
      color: $blue
