@require 'nib'

json('../../stylus/vars.json')

.z-dev-dashboard-footer
  padding: 40px 0
  box-sizing: border-box
  background: $greyDarkest

  .title
    color: $orange
    font-size: $fontSizeLarge
    font-weight: lighter
    margin: 0 0 20px 0

  .section:first-child
    margin-right: 40px

  .links
    margin: 0 40px 0 0
    padding: 0
    list-style-type: none
    color: $white

    > li
      font-size: $fontSizeMedium
      font-weight: bold
      margin: 15px 0

      > a
        color: inherit

    > li:first-child
      margin: 0 0 15px 0

  .social
    // offset for li gap margin
    margin: 0 -4px
    padding: 0
    list-style-type: none

    > li
      margin: 0 5px
      display: inline-block

      > .social-icon
        display: block
        width: 30px
        height: 30px
        background-size: 100% 100%

      > .facebook
        background: url('//cdn.wtf/d/images/social/facebook.svg') #3B5998

      > .twitter
        background: url('//cdn.wtf/d/images/social/twitter.svg') #00aced

      > .google-plus
        background: url('//cdn.wtf/d/images/social/google_plus.svg') #dd4b39

      > .github
        background: url('//cdn.wtf/d/images/social/github.svg') #4183c4


  .clay-info
    margin-left: auto
    text-align: center

    > .cloud
      height: 28px
      width: 40px
      margin-bottom: 2px

    > .copyright
      color: $greyDarker
