@require 'nib'

json('../../stylus/vars.json')

$zIndexSpinnerBeforeAfter = 2
$zIndexSpinnerBeforeAfterAnimation = 1

@keyframes expand
  0%
    transform: scale(0)
  50%
    transform: scale(1)
  100%
    z-index: $zIndexSpinnerBeforeAfterAnimation

.z-spinner-container
  position: relative
  height: 40px

.z-spinner
  position: absolute
  left: 50%
  top: 50%
  margin: -25px 0 0 -25px
  background-color: $white
  border-radius: 50%
  border: 5px solid $orange
  width: 50px
  height: 50px
  box-sizing: border-box

.z-spinner:before, .spinner:after
  content: ''
  position: absolute
  left: 50%
  top: 50%
  display: block
  margin: -21px 0 0 -21px
  border-radius: 50%
  z-index: $zIndexSpinnerBeforeAfter
  width: 42px
  height: 42px

.z-spinner:before
  background: $orange
  animation: expand 1.6s linear infinite both

.z-spinner:after
  background: $white
  animation: expand 1.6s linear 0.8s infinite both
