@require 'nib'

json('../../stylus/vars.json')
json('./vars.json')

.z-forgot-password-page
  > .content
    position: relative
    z-index: $zIndexForgotPasswordPageContent
    margin-top: -($cardOverlapHeight)px
