@require 'nib'

json('../../stylus/vars.json')

$borderRadius = 3px
$zIndexThumbnail = 1
$zIndexUnsafeOverlay = 2
$zIndexSafe = 3
$zIndexClose = 4

.z-dev-image-upload
  background: $greyLightest
  border: 1px solid $greyLighter
  text-align: center
  display: inline-block
  vertical-align: top
  margin: 0 10px 10px 0
  position: relative
  box-sizing: border-box
  overflow: hidden

  .clickable
    height: 100%
    cursor: pointer

  .content
    width: 100%
    text-align: center

  .percentage, canvas
    display: none

  .thumbnail
    position: absolute
    z-index: $zIndexThumbnail
    top: 0
    left: 0
    width: 100%
    height: 100%

    > .close
      position: absolute
      top: 10px
      right: 10px
      z-index: $zIndexClose

      > .icon-close
        color: $white
        font-size: $iconMedium
        text-shadow: 0 1px 6px rgba(0, 0, 0, .44)

    > img
      width: 100%
      height: 100%

  .unsafe-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: $zIndexUnsafeOverlay
    background: rgba(0, 0, 0, 0.3)

  .safe
    position: absolute
    z-index: $zIndexSafe
    overflow: hidden
    border: 3px solid rgba(255, 255, 255, 0.5)
    box-sizing: border-box

    > .safe-text
      position: absolute
      margin: 10px
      text-shadow: 0 0 4px $white

  &.is-loading

    .drop-here
      display: none

    .percentage
      display: block

    canvas
      display: block
      position: absolute
      left: 0
      top: 0

    .thumbnail
      opacity: 0.3
