@require 'nib'

json('../../stylus/vars.json')

$zIndexCanvas = 1

.z-uploader-base
  position: relative

  > canvas
    display: none

  &.is-loading
    > canvas
      z-index: $zIndexCanvas
      display: block
      position: absolute
      left: 50%
      top: 50%
      pointer-events: none // not supported in ie9/10
