@require '../../components/nib/index.styl'
@require '../../components/normalize.css/normalize.css'

json('./vars.json')

@font-face
  font-family: 'roboto'
  src: url('../fonts/roboto-regular.otf') format("opentype")

@require './module/*'

//
// Base Styles
//

body
  background: $bgColor
  color: $black
  font: 12px 'roboto'

a
  text-decoration: none
  color: #000
