@require '../../components/nib/index.styl'
@require '../../components/normalize.css/normalize.css'

json('./vars.json')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'),
       url('//cdn.wtf/d/fonts/roboto/light.ttf') format('opentype')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('//cdn.wtf/d/fonts/roboto/medium.ttf') format('opentype')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('//cdn.wtf/d/fonts/roboto/bold.ttf') format('opentype')

// TODO: (Zoli) remove
@font-face
  font-family: 'RobotoLighter'
  src: url('//cdn.wtf/d/fonts/roboto/light.ttf') format('opentype')
  font-weight: lighter

@require './layout.styl'
@require './button.styl'
@require './label.styl'
@require './icon.styl'

//
// Hacks
//
@require '../hacks/**/stylus/*'

//
// Base Styles
//

html
  font-size: 62.5% /* 10px browser default */

body
  background: $bgColor
  color: $greyDarkest
  font: $fontSizeSmall 'Roboto'
  font-weight: 500

a
  text-decoration: none
  color: $greyDarkest
  -webkit-tap-highlight-color: $transparent

h1
  font-size: $fontSizeLarge

h2
  font-size: $fontSizeMedium

button
  border: none
  outline: none
  appearance: none
  -webkit-tap-highlight-color: $transparent

input[type=checkbox]
  width: 20px
  height: 20px
  vertical-align: bottom
  cursor: pointer
  // No IE support!
  appearance: none
  position: relative
  outline: 0
  box-sizing: border-box
  background: $greyMedium
  border-radius: $inputBorderRadius px
  margin-right: 10px

input[type=checkbox]:checked
  background: $orange
  color: $white
  outline: 0
  &:after
    // icon font
    font-family: 'icons'
    content: '\e808'
    position: absolute
    top: 0
    left: -2px
    text-align: center
    width: 25px
    font-size: 18px
