@require '../../components/nib/index.styl'
@require '../../components/normalize.css/normalize.css'

json('./vars.json')

@font-face
  font-family: 'Roboto'
  src: url('../fonts/roboto-regular.otf') format("opentype")

@require './module/*'

//
// Base Styles
//

html
  font-size: 62.5% /* 10px browser default */

body
  background: $bgColor
  color: $black
  font: $fontSizeDefault 'Roboto'


a
  text-decoration: none
  color: #000
