$buttonRadius = 20
$buttonFlatRadius = 5
$buttonHeight = 40

.button-primary, .button-secondary, .button-circle, .button-flat
  position: relative // for active state
  display: inline-block
  height: $buttonHeight px
  line-height: $buttonHeight px
  margin-bottom: 0 // for input.button-...
  border-radius: $buttonRadius px
  box-shadow: $z1Shadow
  font-size: $fontSizeMedium
  font-weight: bold
  touch-action: manipulation
  cursor: pointer
  white-space: nowrap
  transition: box-shadow 0.5s

  &.is-block
    display: block
    width: 100% // because bootstrap does it

  &.is-blue // different from primary or secondary
    background: $blue500
    color: $white

  &:hover
    box-shadow: $z2Shadow
    transition: box-shadow 0.5s

  &:disabled
    opacity: 0.5
    cursor: not-allowed
    pointer-events: none
    transition: opacity 0.2s

  // darken the button when active
  // stylus has a darken() function, but this implementation will use the
  // button's background color, opposed to one we specify
  &:active
    &:before
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: $buttonRadius px
      background: $activeBgColor
      content: ''
      pointer-events: none

.button-primary, .button-secondary
  padding: 0 20px

.button-circle
  width: $buttonHeight px
  height: $buttonHeight px

.button-primary
  background: $orange500
  color: $white

.button-secondary
  background: $white
  color: $blue500

.button-flat
  border-radius: $buttonFlatRadius px

.button-ghost
  background: none
  font-size: $fontSizeMedium
  font-weight: bold
  padding: 5px
  text-align: center
  color: $orange500

  &.is-block
    display: block
    width: 100% // because bootstrap does it

  &:disabled
    color: $grey400

  &:active
    background: $activeBgColor
