.label
  display: block
  margin: 10px 0

  .label-text
    display: inline-block
    vertical-align: middle
    width: 100px
    font-weight: bold
    color: $greyDarker
    font-size: $fontSizeMedium

    &.is-aligned-top
      vertical-align: top

  .field
    display: inline-block
