.l-content-container
  padding-left: 16px
  padding-right: 16px
  max-width: 288px
  margin: 0 auto

  @media (min-width: 360px)
      max-width: 328px

  @media (min-width: 960px)
    max-width: 968px

.l-flex
  display: flex

  &.l-vertical-center
    height: 100%
    align-items: center

  &.l-full-height
    min-height: 100%
    flex-direction: column

.l-flex-1
  flex: 1
