@require 'nib'

json('../../stylus/vars.json')
.z-header-base
  background: $white
  height: 75px

  > .content
    > .logo
      > img
        height: 40px
        vertical-align: middle

    > .navigation
      margin-left: auto
      height: 100%

      > ul
        // offset li gap margin
        margin: 0
        padding: 0
        list-style-type: none
        height: 100%

        > li
          display: inline-block
          margin: 0 20px
          height: 100%

          > .link-container
            > a
              font-weight: normal
              font-size: $fontSizeMedium
              display: inline-block
              vertical-align: middle
              color: $greyDarker

              &:hover
                color: $black

          &.is-selected
            position: relative

            &:after
              content: '\2022'
              position: absolute
              bottom: 0
              left: 0
              width: 100%
              font-size: $fontSizeLarge
              text-align: center
              color: $orange

            > .link-container
              > a
                color: $black
