@require 'nib'

json('../../stylus/vars.json')

.z-icon
  text-align: center
  display: flex
  -webkit-tap-highlight-color: $transparent

  > svg
    vertical-align: middle
    margin: auto
    -webkit-tap-highlight-color: $transparent

  &.is-touch-target
    min-width: 48px
    min-height: 48px

    &.is-aligned-top
      margin-top: -12px // touch target offset

    &.is-aligned-left
      margin-left: -12px // touch target offset

    &.is-aligned-right
      margin-left: auto
      margin-right: -12px // touch target offset
