@require 'nib'

.z-game-player
  > iframe
    width: 100%
    height: 100%
    border: none
    position: absolute
    -webkit-overflow-scrolling: touch

.z-game-player-missing
  position: absolute
  font-size: 2em
  text-align: center
  width: 100%
  top: 50%
  margin-top: -2em
