@require 'nib'

.z-game-player
  > iframe
    // some games (eg flytrap) on iOS bug out if we set width and height 100%
    // therefore, we set it via coffeescript
    border: none
    position: absolute
    -webkit-overflow-scrolling: touch

.z-game-player-missing
  position: absolute
  font-size: 2em
  text-align: center
  width: 100%
  top: 50%
  margin-top: -2em
