@require 'nib'

json('../../stylus/vars.json')

.z-legacy-banner
  background: $greyDarkest
  line-height: 30px
  color: $white
  font-size: $fontSizeSmall
  text-align: center

  > .link
    color: inherit
    text-decoration: underline
