@require 'nib'

json('../../stylus/vars.json')

.z-google-play-ad-drawer

  .google-play-icon
    flex-basis: 24px
    flex-shrink: 0

  .content
    padding-left: 10px
    margin-bottom: 10px

    > h2
      margin: 3px 0 5px 0

    > .message
      font-size: $fontSizeSmall
