@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-friend-request-card_content
  > .single-friend, > .many-friends
    > .profile-pic
      width: 40px
      height: 40px
      border-radius: 50%
      margin-right: 16px

    > .friend-info
      > .title
        zp-font-headline()
        margin: 0 0 12px 0

      > .description
        zp-font-subhead()
        margin: 0 0 16px 0

  > .many-friends
    > .profile-pic
      background: $orange
      text-align: center
      .icon
        margin: 0 auto

  > .actions
    text-align: right
