@require 'nib'

json('../../stylus/vars.json')

.z-game-box
  -webkit-tap-highlight-color: $transparent
  font-size: $fontSizeSmall
  display: block
  position: relative

  &:active
    opacity: 0.6

  > .image
    box-shadow: $z1Shadow
    border-radius: 2px

  > .info
    text-align: left
    width: 100%

    > h3
      font-size: $fontSizeSmall
      margin: 3px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
