@require 'nib'

json('../../stylus/vars.json')

.z-game-box
  -webkit-tap-highlight-color: $transparent
  font-size: $fontSizeSmall
  display: block

  &:active
    opacity: 0.6

.z-game-box-info
  text-align: left
  width: 100%

  > h3
    font-size: $fontSizeSmall
    margin: 3px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
