@require 'nib'

json('../../stylus/vars.json')

.z-social-icons
  > .social
    padding: 0
    list-style-type: none

    > li
      margin: 0 5px
      display: inline-block

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0

      > .social-icon
        display: block
        width: 30px
        height: 30px
        background-size: 100% 100%

      > .facebook
        background: url('https://cdn.wtf/d/images/social/facebook.svg') #3B5998

      > .twitter
        background: url('https://cdn.wtf/d/images/social/twitter.svg') #00aced

      > .google-plus
        background: url('https://cdn.wtf/d/images/social/google_plus.svg') #dd4b39

      > .github
        background: url('https://cdn.wtf/d/images/social/github.svg') #4183c4
