@require 'nib'

json('../../stylus/vars.json')

.z-game-share-content
  padding: 20px
  text-align: center
  font-size: $fontSizeMedium

.z-game-share-message
  font-weight: bold
  margin-bottom: 20px

.z-game-share-button
  display: flex
  text-align: center
  width: 100%

  &.is-messenger
    background-color: $messengerBlue500
    color: $messengerBlue500Text

  > .icon
    display: inline-block
    margin-top: auto
    margin-bottom: auto
    margin-left: auto
    margin-right: 10px

  > .text
    margin-right: auto
