@require 'nib'

json('../../stylus/vars.json')

.z-home
  > .hero
    height: 325px
    display: flex
    justify-content: space-between

    > .info
      max-width: 500px
      align-self: flex-end


      > h1
        color: $grey900
        font-size: $fontSizeXXLarge
        font-weight: lighter
        margin-bottom: 20px

      > .sub-head
        color: $grey600
        font-size: $fontSizeMedium
        margin-bottom: 20px

      > .kik
        vertical-align: middle
        height: 30px
        margin-bottom: 40px

      > .google-play
        margin-right: 20px

        > img
          vertical-align: middle
          height: 40px
          margin-bottom: 40px

    > img
      width: 430px
      height: 325px

  > .featured
    background: $white
    text-align: center

    > .l-content-container
      > .link
        display: inline-block
        width: 225px
        margin: 40px 10px

        > .image
          box-shadow: $z1Shadow
          width: 100%
          transition: box-shadow 0.5s

        > .image:hover
          box-shadow: $z2Shadow
          transition: box-shadow 0.5s

      > .link:first-child
        margin-left: 0

      > .link:last-child
        margin-right: 0

  > .team
    background: $white
    text-align: center

    > .l-content-container
      > h1
        font-weight: lighter
        font-size: $fontSizeXXLarge
        padding: 40px 0 20px 0
        margin: 0

      > .info
        margin: 0 auto
        max-width: 440px
        color: $grey600
        font-size: $fontSizeMedium

      > .apply
        width: 180px
        margin: 40px 0
