@require 'nib'

json('../../stylus/vars.json')

$drawerWidth = 288
$drawerContentPadding = 20
$drawerHeaderHeight = 50
$drawerNubRadius = 42.5
$zIndexDrawerPromoAfter = 0
$zIndexDrawerPromoText = 1
$zIndexDrawerHeader = 100

.z-drawer-overlay
  background: $overlayColor
  position: fixed
  width: 100%
  height: 100%
  display: none

  &.is-open
    display: block

.z-drawer-nub
  $drawerNubRadius = 42.5
  width: $drawerNubRadius px
  height: $drawerNubRadius px
  position: fixed
  top: 0
  right: 0
  -webkit-tap-highlight-color: $transparent
  pointer-events: all // not supported in ie9/10

.z-drawer
  width: ($drawerWidth + $drawerNubRadius) px
  right: -($drawerWidth)px
  height: 100%
  top: 0
  padding-left: $drawerNubRadius px
  position: fixed
  z-index: $zIndexDrawer
  transform: translateZ(0) /* gpu accelerate */
  transition: right 0.25s
  text-align: left
  pointer-events: none // not supported in ie9/10
  box-sizing: border-box

  &.is-open
    right: 0

.z-drawer-header
  width: 100%
  height: ($drawerHeaderHeight) px
  position: relative
  z-index: $zIndexDrawerHeader
  background: $orange
  pointer-events: all // not supported in ie9/10

  .z-drawer-close
    position: absolute
    left: 10px
    top: 13px

    > .icon-close
      font-size: $iconLarge
      color: $white


  .z-drawer-home
    position: absolute
    right: 10px
    top: 13px

    > .icon-home
      font-size: $iconLarge
      color: $white

.z-drawer-inner
  background: $bgColor
  height: 100%
  width: 100%
  // necessary for overflow: auto to work right since this is set to 100% height
  margin-top: -($drawerHeaderHeight) px
  padding-top: ($drawerHeaderHeight) px
  box-shadow: -10px 0 10px 0px rgba(0, 0, 0, 0.04)
  pointer-events: all // not supported in ie9/10
  box-sizing: border-box
  overflow: auto

.z-drawer-promo
  height: 92px
  position: relative
  background-size: 100% auto
  background-position: center

  &:after
    position: absolute
    z-index: $zIndexDrawerPromoAfter
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    content: ''

  > .z-drawer-promo-text
    position: absolute
    bottom: 0
    left: 20px
    right: 20px
    z-index: $zIndexDrawerPromoText
    color: $white

    > .z-drawer-promo-descriptor
        text-transform: uppercase
        font-size: $fontSizeSmall
        font-weight: bold
        margin-bottom: 3px

    > .z-drawer-promo-title
        margin: 0
        margin-bottom: 15px
        font-size: $fontSizeLarge
        whitespace: nowrap
        overflow: hidden
        text-overflow: ellipsis

.z-drawer-share
  text-align: center
  height: 80px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background: $white

  > .z-drawer-share-inner
    display: table-cell
    vertical-align: middle
    padding: 0 20px
    width: 100%

    .z-drawer-share-button

      > .icon-share
        margin-right: 10px

.z-drawer-google-play-ad-drawer
  margin: 20px 0 0 0
  padding: 0 20px

.z-drawer-marketplace-link
  display: block
  font-size: $fontSizeMedium
  font-weight: bold
  padding: ($drawerContentPadding)px

  &:active
    background: $activeBgColor

  > .icon-heart
    font-size: $iconLarge
    color: $orange
    margin-right: 10px


.z-drawer-cross-promotion
  padding: 0 ($drawerContentPadding)px 10px

.z-drawer-browse-more
  margin-top: 10px
