@require 'nib'

json('../../stylus/vars.json')
@require '../../stylus/utils.styl'

.drawer-overlay
  background: $overlayColor
  position: fixed
  width: 100%
  height: 100%
  display: none

  &.is-open
    display: block

// ~Android 2.3 detection
.is-slow-device
  .drawer-overlay
    display: none // opaque background causes bad performance


// 50 wider than drawer-inner to allow space for nub w/o neg margins
.drawer.theme-control
  $drawerWidth = 234
  $drawerContentPadding = 20
  $drawerNubRadius = 25
  $drawerHeaderHeight = $drawerNubRadius * 2
  $zIndexDrawerPromoAfter = 1
  $zIndexDrawerHeader = 100
  width: ($drawerWidth + $drawerNubRadius) px
  right: -($drawerWidth)px
  height: 100%
  top: 0
  padding-left: $drawerNubRadius px
  position: fixed
  z-index: $zIndexDrawer
  transform: translateZ(0) /* gpu accelerate */
  transition: right 0.25s
  text-align: left
  pointer-events: none // not supported in ie9/10
  box-sizing: border-box

  &.is-open
    right: 0


  .drawer-nub
    width: $drawerNubRadius px
    height: $drawerNubRadius px
    position: absolute
    top: 0
    /* doing left negative px doesn't work on android (touch events won't fire) */
    left: 0
    -webkit-tap-highlight-color: $transparent
    pointer-events: all // not supported in ie9/10

  .drawer-header
    width: 100%
    height: $drawerHeaderHeight px
    position: relative
    z-index: $zIndexDrawerHeader
    background: $white

    > .drawer-header-logo
      display: inline-block
      background-image: url($logoSvg)
      background-repeat: no-repeat
      width: 110px
      height: 26px
      margin: ($drawerHeaderHeight / 2 - 13) px

  .no-svg
    .drawer-header > .drawer-header-logo
      background-image: url($logoPng110) // png instead of svg
      background-size: 100% 100%

  .drawer-inner
    background: $bgColor
    height: 100%
    width: 100%
    // necessary for overflow: auto to work right since this is set to 100% height
    margin-top: -($drawerHeaderHeight) px
    padding-top: $drawerHeaderHeight px
    box-shadow: -10px 0 10px 0px rgba(0, 0, 0, 0.04)
    pointer-events: all // not supported in ie9/10
    overflow: auto
    box-sizing: border-box

  .drawer-promo
    width: 100%
    height: 132px
    position: relative
    overflow: hidden
    background-size: 100% auto

    &:after
      background: linear-gradient(bottom, $bgColor 0, $transparent 50px)
      width: 100%
      height: 100%
      position: absolute
      content: ''
      z-index: $zIndexDrawerPromoAfter
      left: 0
      top: 0

  .is-android-2-3
    // bugs out touch events (overlay takes up whole page)
    .drawer-promo
      position: static
      &:after
        display: none

  .drawer-menu-items
    margin: 0
    padding: 0

    > li
      display: block
      list-style-type: none

      > a
        display: block
        line-height: 50px
        font-size: $fontSizeMedium
        font-weight: bold
        padding: 0 ($drawerContentPadding)px

        &:active
          background: $activeBgColor

        > .icon
          font-size: $fontSizeMedium
          color: $orange
          margin-right: 10px

        > .drawer-menu-item
          display: inline-block
          vertical-align: top

    > li.drawer-menu-divider
      width: 100%
      height: 1px
      background: $dividerColor
      margin: 10px 0


  .drawer-cross-promotion
    padding: 0 ($drawerContentPadding)px




.drawer.theme-orange
  $drawerWidth = 288
  $drawerContentPadding = 20
  $drawerHeaderHeight = 50
  $drawerNubRadius = 42.5
  $zIndexDrawerPromoAfter = 0
  $zIndexDrawerPromoText = 1
  $zIndexDrawerHeader = 100
  width: ($drawerWidth + $drawerNubRadius) px
  right: -($drawerWidth)px
  height: 100%
  top: 0
  padding-left: $drawerNubRadius px
  position: fixed
  z-index: $zIndexDrawer
  transform: translateZ(0) /* gpu accelerate */
  transition: right 0.25s
  text-align: left
  pointer-events: none // not supported in ie9/10
  box-sizing: border-box

  &.is-open
    right: 0

  .drawer-overlay
    background: $overlayColor
    position: fixed
    width: 100%
    height: 100%
    display: none

    &.is-open
      display: block

  .drawer-header
    width: 100%
    height: ($drawerHeaderHeight) px
    position: relative
    z-index: $zIndexDrawerHeader
    background: $orange
    pointer-events: all // not supported in ie9/10

    .drawer-close
      position: absolute
      left: 10px
      top: 13px

      > .icon-close
        font-size: $iconMedium
        color: $white


    .drawer-home
      position: absolute
      right: 10px
      top: 13px

      > .icon-home
        font-size: $iconMedium
        color: $white

  .drawer-inner
    background: $bgColor
    height: 100%
    width: 100%
    // necessary for overflow: auto to work right since this is set to 100% height
    margin-top: -($drawerHeaderHeight) px
    padding-top: ($drawerHeaderHeight) px
    box-shadow: -10px 0 10px 0px rgba(0, 0, 0, 0.04)
    pointer-events: all // not supported in ie9/10
    overflow: auto
    box-sizing: border-box

  .drawer-promo
    height: 92px
    position: relative
    background-size: 100% auto

    &:after
      position: absolute
      z-index: $zIndexDrawerPromoAfter
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 0.5)
      content: ''

    > .drawer-promo-text
      position: absolute
      bottom: 0
      left: 20px
      right: 20px
      z-index: $zIndexDrawerPromoText
      color: $white

      > .drawer-promo-descriptor
          text-transform: uppercase
          font-size: $fontSizeSmall
          font-weight: bold
          margin-bottom: normalizeSpacing(5, unit($fontSizeSmall, '')) px

      > .drawer-promo-title
          margin: 0
          margin-top: normalizeSpacing(5, unit($fontSizeLarge, '')) px
          margin-bottom: normalizeSpacing(20, unit($fontSizeLarge, '')) px
          font-size: $fontSizeLarge
          whitespace: nowrap
          overflow: hidden
          text-overflow: ellipsis


  .is-android-2-3
    // bugs out touch events (overlay takes up whole page)
    .drawer-promo
      position: static
      &:after
        display: none

  .drawer-share
    text-align: center
    height: 80px
    width: 100%
    display: table
    background: $white

    > .drawer-share-inner
      display: table-cell
      vertical-align: middle
      padding: 0 20px

      .drawer-share-button

        > .icon-share
          margin-right: 10px

  .drawer-marketplace-link
    display: block
    font-size: $fontSizeMedium
    font-weight: bold
    padding: ($drawerContentPadding)px

    &:active
      background: $activeBgColor

    > .icon-heart
      font-size: $iconMedium
      color: $orange
      margin-right: 10px


  .drawer-cross-promotion
    padding: 0 ($drawerContentPadding)px 10px

  .drawer-browse-more
    margin-top: 10px
    background: $white
    color: $blue


.drawer-nub.theme-orange
  $drawerNubRadius = 42.5
  width: $drawerNubRadius px
  height: $drawerNubRadius px
  position: fixed
  top: 0
  right: 0
  -webkit-tap-highlight-color: $transparent
  pointer-events: all // not supported in ie9/10
