@require 'nib'

json('../../stylus/vars.json')

// TODO (Austin): Move to vars.json if this design wins
$logoSvg = '//cdn.wtf/d/images/logos/logo_standard_bw.svg'

.header
  background: $orange
  height: 60px
  box-sizing: border-box
  padding: 14px 20px
  position: relative
  display: flex
  justify-content: space-between

.header-logo
  background-image: url($logoSvg)
  background-repeat: no-repeat
  width: 125px
  height: 30px

.header-marketplace-share
  flex-basis: 22px
  flex-shrink: 0
  line-height: 30px
