@require 'nib'

json('../../stylus/vars.json')

.z-dev-login
  padding: 20px

  > h1
    margin: 0 0 10px 0

  > .friendly-message
    color: $greyDarker

  > form
    clearfix()

    > .sign-in
      width: 200px
      margin-top: 10px
      float: right
      clearfix()

  > .tos
    text-align: right
    margin-top: 20px
    color: $greyDark

    > a
      color: inherit
