@require 'nib'

json('../../stylus/vars.json')

$zIndexContent = 1

.z-dev-login
  > .banner
    width: 100%
    height: 175px
    background: url('http://cdn.wtf/d/images/desktop_site/vector_technology.svg')
    background-size: 100% auto
    text-align: center
    position: relative

    &:after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: $orange500
      opacity: 0.9

    > .content
      width: 100%
      color: $white
      font-size: $fontSizeXLarge
      font-weight: lighter
      position: relative
      z-index: $zIndexContent

  > .beta
    padding: 40px
    text-align: center
    background: $white

    > h1
      color: $grey900
      font-size: $fontSizeXXLarge
      font-weight: lighter
      margin: 0 0 20px 0

    > .sub-head
      color: $grey600
      font-size: $fontSizeMedium
      max-width: 400px
      margin: 0 auto 40px auto

    > .infos
      > .info
        display: inline-block
        width: 320px

        > .icon
          color $blue500
          font-size: $iconXXLarge

        > .title
          font-size: $fontSizeLarge
          font-weight: bold
          padding: 20px

        > .info
          display: block
          margin: 0 auto
          max-width: 285px
          font-size: $fontSizeMedium
          color: $grey600

  > .login-apply
    margin: 40px auto

    > .login, > .apply
      width: 50%
      padding: 0 20px

      > h1
        margin: 0 0 10px 0

      > .friendly-message
        color: $grey600

      > form
        clearfix()

        > .sign-in-button, > .apply-button
          width: 200px
          margin-top: 10px
          float: right


    > .login
      margin-left: -20px

      > .tos
        text-align: right
        margin-top: 20px
        color: $grey500

        > a
          color: inherit

  > .player-message
    width: 100%
    background: $white
    text-align: center

    > .content
      padding: 40px 0
      font-size: $fontSizeMedium
      color: $grey500

      > h1
        font-size: $fontSizeXXLarge
        font-weight: lighter
        margin: 0 0 20px 0
        color: $grey900

      > .links
        margin-top: 20px

        > .google-play > img
          height: 40px
          vertical-align: middle
          margin-right: 20px

        > .kik > img
          vertical-align: middle
          height: 30px
