@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

$zIndexFriendsFab = 1

.z-friends
  > .no-friends
    position: absolute
    left: 0
    top: 50%
    width: 100%
    height: 200px
    margin-top: -100px
    text-align: center

    > .title
      zp-font-subhead()

    > .description
      zp-font-body1()

  > .friends
    list-style-type: none
    margin: 0
    padding: 0

    > .friend
      > .friend-link
        padding: 16px 0
        position: relative
        overflow: hidden

        > .friend-pic
          width: 40px
          height: 40px
          border-radius: 50%
          margin-right: 16px

        > .friend-info
          > .name
            zp-font-subhead()

          > .game
            zp-font-caption()

        > .game-pic
          margin-left: auto
          width: 24px
          height: 24px

  > .fab
    position: fixed
    right: 16px
    bottom: 16px
    z-index: $zIndexFriendsFab
