@require 'nib'

json('../../stylus/vars.json')

.z-dev-login-player-message
  width: 100%
  background: $white
  text-align: center

  > .content
    padding: 40px 0
    font-size: $fontSizeSmall

    > h1
      font-size: $fontSizeXXLarge
      font-family: 'RobotoLighter'
      font-weight: lighter
      margin: 0 0 20px 0

    > .links
      margin-top: 20px

      > .google-play, .kik
        height: 40px
        margin-bottom: 40px

      > .google-play
        margin-right: 20px
