@require 'nib'
@require '../../node_modules/zorium-paper/base.styl'

json('../../stylus/vars.json')

.z-invite
  > .invite-options
    > .invite
      zp-font-subhead()
      padding: 8px 0

      &:active
        background: $activeBgColor

      > .social-icon
        width: 40px
        height: 40px
        border-radius: 50%
        background-size: 50% 50%
        background-position: center center
        background-repeat: no-repeat
        margin-right: 16px

        > .icon
          margin: auto
          // svg's display: inline-block adds bottom margin. this fixes
          font-size: 0

      > .facebook
        background-color: #3B5998

      > .twitter
        background-color: #00aced

      > .kik
        background-color: #83ba23

      > .sms
        background-color: $grey400

  > .continue
    margin-top: auto
    text-align: right
