@require 'nib'

json('../../stylus/vars.json')

.z-nub.theme-control
  $nubRadius = 25

  cursor: pointer
  width: $nubRadius px
  border-top-left-radius: $nubRadius px
  border-bottom-left-radius: $nubRadius px
  height: ($nubRadius * 2) px
  margin-top: 0
  margin-left: 0
  padding-top: 13px
  background-color: $white
  border: 1px solid $dividerColor
  border-right: none
  box-sizing: border-box

  .icon-chevron-left, .icon-chevron-right
    font-size: $fontSizeMedium
    color: $orange
    &:before
      margin-top: 3px
      width: 25px

.z-nub.theme-transparent-menu
  $nubRadius = 42.5

  cursor: pointer
  width: $nubRadius px
  height: ($nubRadius * 2) px
  border-bottom-left-radius: $nubRadius px
  margin-top: (-1 * $nubRadius) px
  padding: 50px 0 0 16px
  background-color: rgba(255, 255, 255, 0.9)
  box-sizing: border-box

  .icon-menu
    font-size: $fontSizeMedium
    color: $orange
