@require 'nib'

json('../../stylus/vars.json')

$nubRadius = 48

.z-nub
  display: block
  cursor: pointer
  width: $nubRadius px
  height: ($nubRadius * 2) px
  border-bottom-left-radius: $nubRadius px
  margin-top: (-1 * $nubRadius) px
  padding: ($nubRadius + 5)px 5px 0 0
  background-color: rgba(255, 255, 255, 0.9)
  box-sizing: border-box
  -webkit-highlight-tap-color: $transparent
