@require 'nib'

json('../../stylus/vars.json')

$nubRadius = 48

.z-share-nub
  display: block
  cursor: pointer
  width: $nubRadius px
  height: ($nubRadius * 2) px
  border-bottom-right-radius: $nubRadius px
  margin-top: (-1 * $nubRadius) px
  padding: ($nubRadius + 5)px 0 0 5px
  background-color: rgba(255, 255, 255, 0.9)
  box-sizing: border-box
  -webkit-tap-highlight-color: $transparent
