@require 'nib'

json('../../stylus/vars.json')

.z-google-play-ad-modal

  > .content
    text-align: center
    font-size: $fontSizeMedium

    > .message
      padding: 20px
      font-weight: bold

    > .install-button
      border-top: 1px solid $dividerColor
      padding: 10px 0
      color: $blue

      > .icon-arrow-down
        margin-right: 10px
        font-size: $iconSmall
        vertical-align: middle

      > .button-text
        display: inline-block
        vertical-align: middle
