@require 'nib'

json('../../stylus/vars.json')

.z-google-play-ad-modal

  > .content
    text-align: center
    font-size: $fontSizeMedium
    background: $white

    > .message
      padding: 20px
      font-size: $fontSizeMedium
      line-height: $fontSizeLarge
      font-weight: bold

    > .align-right
      text-align: right

      > .install-button
        width: 150px
        margin: 0 20px 20px 0
        background: $green500
        color: $white
        text-transform: uppercase
