@require 'nib'

json('../../stylus/vars.json')

.z-google-play-ad-modal

  > .content
    padding: 20px
    text-align: center
    font-size: $fontSizeMedium

    > .message
      font-weight: bold
      margin: 20px 0
