@require 'nib'

json('../../stylus/vars.json')

.google-play-ad-modal-content
  padding: 20px
  text-align: center
  font-size: $fontSizeMedium

.google-play-ad-modal-message
  font-weight: bold
  margin: 20px 0
