@require 'nib'

json('../../stylus/vars.json')

.z-google-play-ad-modal-flat

  > .content
    text-align: center
    font-size: $fontSizeMedium
    background: $white

    > .icon
      width: 96px
      margin-top: 20px

    > .message
      padding: 20px
      font-size: $fontSizeMedium
      line-height: $fontSizeLarge
      font-weight: bold

    > .align-right
      text-align: right

      > .install-button
        width: 150px
        margin: 0 20px 20px 0
        background: $green
        color: $white

  // TODO: (zoli) move to base button styles
  $buttonHeight = 40
  .button-flat
    position: relative // for active state
    display: inline-block
    height: $buttonHeight px
    line-height: $buttonHeight px
    margin-bottom: 0 // for input.button-...
    border-radius: 5px
    font-size: $fontSizeMedium
    font-weight: bold
    touch-action: manipulation
    cursor: pointer
    white-space: nowrap

    // darken the button when active
    // stylus has a darken() function, but this implementation will use the
    // button's background color, opposed to one we specify
    &:active
      &:before
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 5px
        background: $activeBgColor
        content: ''
        pointer-events: none
