@require 'nib'

json('../../stylus/vars.json')

$navDrawerHeaderHeight = 200
$zIndexNavDrawerHeader = 100

.z-nav-drawer
  position: fixed
  z-index: $zIndexNavDrawer
  width: 100%
  height: 100%
  top: 0
  left: 0
  pointer-events: none // not supported in ie9/10 (ie our entire app breaks)

  &.is-open
    pointer-events: all // not supported in ie9/10

    > .overlay
      opacity: 0.5
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .drawer
      transform: translate(0, 0) !important
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .overlay
    background: $black
    opacity: 0
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)
    width: 100%
    height: 100%

  > .drawer
    // width and transform translate set in js
    height: 100%
    top: 0
    position: fixed
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)
    overflow: auto
    flex-direction: column
    background: $bgColor
    // prevents flicker glitch http://stackoverflow.com/a/3921870
    backface-visibility: hidden

    > .header
      width: 100%
      height: ($navDrawerHeaderHeight) px
      padding: 16px
      box-sizing: border-box
      position: relative
      z-index: $zIndexNavDrawerHeader
      background: $orange500
      // prevents flicker glitch http://stackoverflow.com/a/3921870
      backface-visibility: hidden

      > .user-header
        flex-direction: column

        > .avatar
          width: 72px
          height: 72px
          border-radius: 50%

        > .name
          font-size: $fontSizeMedium
          color: $white
          margin-top: auto
          margin-bottom: 8px

      > .guest-header
        flex-direction: column

        > .description
          font-size: $fontSizeMedium
          color: $white

        > .actions
          margin-top: auto
          align-self: flex-end

    > .content
      width: 100%
      padding: 16px
      box-sizing: border-box
      box-shadow: -10px 0 10px 0px rgba(0, 0, 0, 0.04)
      box-sizing: border-box

      > .menu
        list-style-type: none
        margin: 0
        padding: 0
        > .menu-item
          > .menu-item-link
            display: block
            padding: 16px 0
            font-size: $fontSizeMedium

            &.is-unavailable
              color: $grey400
              pointer-events: none // not supported in ie9/10 (ie our entire app breaks)

            &.is-selected
              color: $blue500

            > .icon
              display: inline-block
              vertical-align: middle
              margin-right: 32px
              font-size: $iconMedium
