@require 'nib'

json('../../stylus/vars.json')

.z-dev-edit-game-details
  width: 100%
  padding: 20px 0

  .title
    color: $greyDarker
    font-weight: bold
    font-size: $fontSizeMedium
    margin-top: 20px

    .label-info
      font-size: $fontSizeSmall
      margin-top: 2px

  hr
    margin: 40px 0 20px 0

  .image-holder
    height: 100px
    background: $white // FIXME
    border: 1px solid $grayBorder // FIXME
    text-align: center
    display: inline-block
    margin: 0 10px 10px 0

    .image-holder-content
      width: 100%
      text-align: center

  .next-step
    margin-top: 10px
