@require 'nib'

json('../../stylus/vars.json')

.z-marketplace-share
  display: block

  &.is-shifted-right
    margin-right: -12px // touch target offset

  &:active
    border-radius: 50%
    background: rgba(255, 255, 255, 0.2)
