@require 'nib'
@require '../../stylus/paper_base'
json('../../stylus/paper_colors.json')

.z-input
  z-font-subhead()
  min-height: 48px
  outline: none
  text-align: inherit
  position: relative

  > .hint
    pointer-events: none
    position: absolute
    background: transparent
    top: 16px
    color: $grey400

    transform-origin: 0% 0%
    transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .input
    padding: 16px 0 8px 0
    width: 100%

    font: inherit
    color: inherit
    background-color: transparent
    border: none
    outline: none

  > .underline
    position: absolute
    height: 1px
    width: 100%
    background: $grey300

  > .error
    z-font-caption()
    color: $red500
    margin-top: 8px
    position: absolute
    pointer-events: none
    background: transparent

  &.is-dark
    color: $white

  &.is-floating
    min-height: 72px

    > .hint
      top: 32px

    > .input
      padding: 32px 0 8px 0

  &.is-floating&.is-focused, &.is-floating&.has-value
    > .hint
      font-size: 12px
      top: 12px
      display: block

  &:not(.is-floating)&.has-value
    > .hint
      display: none

  &.is-focused
    > .underline
      height: 2px

  &.is-error
    > .underline
      background: $red500

  &.is-disabled
    > .underline
      background: none
      border-bottom: 1px dashed $grey300
