@require 'nib'

json('../../stylus/vars.json')

.z-dev-dashboard-menu
  > .menu
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2)
    margin: 20px 0
    font-size: $fontSizeMedium

    > div
      background: $white
      font-weight: bold
      color: $grayLight

      &.is-selected
        color: $black
        background: $activeBgColor
        position: relative

        &::before
          content: ''
          background: $orange
          height: 100%
          width: 5px
          position: absolute


      .add-game
        color: $blue

      .text
        padding: 15px
