@require 'nib'

json('../../stylus/vars.json')

.theme-google-play.z-modal-header
  background: url('//cdn.wtf/d/images/google_play/google_play_banner.png')
  background-size: 100% auto
  background-position: center

  > .z-modal-header-title
    color: white

  > .z-modal-header-close
    > .icon-close
      color: #fff
