@require 'nib'
@require 'zorium-paper/base'

json('../../stylus/vars.json')

.z-game-promo
  -webkit-tap-highlight-color: $transparent
  font-size: $fontSizeSmall
  display: block

  &:active
    opacity: 0.6

  > .image
    zp-shadow-1()
    border-radius: 2px

  > .info
    text-align: left
    width: 100%

    > h3
      zp-font-caption()
      margin: 3px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
