@require 'nib'

json('../../stylus/vars.json')
@require '../../stylus/utils.styl'

.game-promo
  -webkit-tap-highlight-color: $transparent
  font-size: $fontSizeSmall
  display: block
  margin: 0 5px

  &:active
    opacity: 0.6

.game-promo-info
  text-align: left
  width: 100%

  > h3
    font-size: $fontSizeSmall
    margin: normalizeSpacing(5, unit($fontSizeSmall, '')) px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
