@require 'nib'

json('../../stylus/vars.json')

.z-input-textarea
  display: inline-block

  textarea
    border-radius: 3px
    width: 360px
    height: 120px
    line-height: 24px
    padding: 0 10px
    border: 1px solid $greyLighter
    color: $greyDarkest
    box-sizing: border-box
    background: $white
    display: inline-block
    vertical-align: middle

    &:focus
      border: 1px solid $greyMedium
      outline: 0px
      appearance: none

    &:-webkit-input-placeholder
      color: $greyMedium
