@require 'nib'

json('../../stylus/vars.json')

.z-google-play-ad
  background: $white
  padding: 20px 0
  display: block

  .google-play-icon
    flex-basis: 28px
    flex-shrink: 0
    margin: auto

  .content
    padding: 0 10px

    > h2
      margin: 0

  .message
    font-size: $fontSizeSmall

  .download
    margin: auto
    flex-basis: 30px
    flex-shrink: 0

    > .install-button
      width: 30px
      height: 30px

      > .icon-arrow-right
        font-size: $iconSmall
