@require 'nib'

json('../../stylus/vars.json')

.z-dev-edit-game-upload
  padding: 20px 0
  text-align: center

  > .form
    width: 320px
    height: 320px
    margin: 0 auto

    > .external-host
      display: block
      margin: 60px 0
      font-weight: lighter
      font-size: $fontSizeMedium
      color: $greyDarker

      > .label-text
        margin-bottom: 5px

  > .help
    text-align: center
    width: 200px

    > h1
      font-weight: lighter
      color: $greyDarker

    > .what-to-upload
      margin: 10px 0

    > .icon-block

      > .icon
        color: $orange
        font-size: $iconXLarge
        margin: 0 10px

      > .icon-arrow-down
        margin: 20px 0
        display: block
        color: $greyMedium
        font-size: $iconMedium
