@require 'nib'

json('../../stylus/vars.json')

.z-dev-edit-game-upload
  padding: 20px 0
  text-align: center

  > .form
    width: 320px
    height: 320px
    margin: 0 auto

    > .reminder
      margin-top: 40px
      font-size: $fontSizeMedium
      color: $grey600

      > .warn
        color: $red500

      > .forgot
        margin: 20px

      > .add-now
        width: 180px

  > .help
    text-align: center
    width: 200px
    margin-left: auto

    > h1
      font-weight: lighter
      color: $grey600

    > .what-to-upload
      margin: 10px 0

    > .icon-block

      > .icon
        color: $orange500
        font-size: $iconXLarge
        margin: 0 10px

      > .icon-arrow-down
        margin: 20px 0
        display: block
        color: $grey400
        font-size: $iconMedium
